2_tuning_of_150_synapses/

3_tuning_of_all_synapses/

f_rand_seed_test/

tuned_curve_1_synapse/

tunes_curve_1_synapse_stimulus_time_only/

tunes_curve_2_synapses_stimulus_time_only/

tuned_curve_100_synapses_time_only/

tuned_f_rand_seed_test/

reference/

continuous_tuned_with_inhib/

better_limits_cont_tuned_inhib/

untuned_response/

input_details/

150_tuned_synapses_inhib_added/


